﻿@model IEnumerable<Converter.Models.Company.IncomeData>

@{
    ViewData["Title"] = "Index";
    string Counter = "";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaySumm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Provider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaySumm)
            </td>
            <td>
                 <a asp-action="Convert" asp-route-Provider="@item.Provider" asp-route-Account="@item.Account" asp-route-PaySumm="@item.PaySumm">Convert</a> |
            </td>
        </tr>
}
    </tbody>
</table>
